
  <div id='messageArea' class="row">

    <div class="column1" style="background:pink">
      <div id="activeUserCss">Active Users</div>

      <div>
        <ul id='activeUser'></ul>
      </div>
    </div>
    <div class="column2">
      <div class="container">
        <ul id='message'></ul>
        {{messages}}
      </div>

      <div class='container2'>
        <input type="text" class="input" id='m' ng-model='messages' autocomplete="off" />
        <button class="button" ng-click="send()">Send</button>
      </div>

    </div>
  </div>
