<div class="login-page">
  <div class="form">
    <div id="flag"></div>
    <div id="flag1"></div>
    <input type="text" ng-model="name" placeholder="username" required>
    <input type="password" ng-model="password" placeholder="password" required>
    <input type="email" ng-model="email" placeholder="email" required>
    <button ng-click="Register()">CREATE</button>
    <p class="message">Already Registered ? <a href="#!login">Sign in</a></p>
  </div>
</div>
<div>
  {{name}}  {{password}} {{email}}
</div>
